/*Портфолио*/
.production .list {
  background-color: var(--title-second-text-color);
}

.production .hide-text {
  background-color: var(--accent-color);
  color: var(--title-second-text-color);
  font-family: var(--font-first);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}
